@font-face {
    /*font-family: 'Verdana';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Verdana'), local('Verdana-Regular'),*/
    /*url(../fonts/Verdana.ttf) format('truetype');*/
}
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
}