body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}
.sharethis{
    border-top: 1px solid #cacaca;
    padding: 15px 0;
    margin-top: 20px;
    text-align: right;
}
.share-text{
    color: #7b7f88;
    text-align: justify;
    line-height: 2;
    font-size: 15px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.header {
    /*height: 150px;*/
    background: url("../img/bg.jpg");
    padding-top: 50px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 240px;
    height: 99px;
    float: left;
    background: url("../img/logo_tab.png") no-repeat top left;
    background-size: contain;
}

.logo-footer {
    float: right;
    margin: 10px 0;
}

.contacts-information {
    float: right;
    /*color: #fd9029;*/
    color: #7a7c82;
    text-align: -webkit-right;
    font-size: 13px;
    line-height: 2;
    position: relative;
    margin-top: 33px;
}

.inform-list li {
    /*display: inline-block;*/
    /*margin-left: 10px;*/
}

.inform-list li:nth-child(2) {
    margin-right: 20px;
}

.contacts-information a {
    /*display: block;*/
    text-decoration: none;
    color: #7a7c82;
    transition: all 0.3s ease;
}

.contacts-information a:hover {
    color: #fd9029;
}

.primary-menu {
    /*background: #25afc2;*/
    background: url("../img/nav-top.jpg");
    /*margin-top: 20px;*/
}

.nav-header .menu {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-size: 0;
    position: relative;
    display: table;
    width: 100%;
}

.nav-header li {
    /*display: inline-block;*/
    border-right: 1px solid #51bfce;
    /*border-bottom: 1px solid #51bfce;*/
    display: table-cell;
    text-align: center;
    cursor: pointer;
}

.current_page_item {
    background: #25afc2;
}

#menu-header:first-child {
    border-left: 1px solid #51bfce;
}

.nav-header a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 25px 10px;
    transition: all 0.7s ease;
    }
a[title="menu-item-products"],
a[title="menu-item-event"],
a[title="menu-item-wedding"],
a[title="menu-item-action"]
{
    pointer-events: none;
}
.nav-header a:hover {
    background: #25afc2;
}
.nav-header li:hover {
    background: #25afc2;
}

/**************categorii*/
.child-menu {
    position: relative;
}

.child-menu-item {
    background: #fafafc;
    border: 1px solid #d4d4d4;
    position: absolute;
    z-index: 2;
    /*border-top: 1px solid #4198bc;*/
    height: 260px;
}

.child-menu-list {
    margin: 20px 0 10px 0;
    list-style: none;
    /*text-align: center;*/
}

.child-menu-list li {
    display: inline-block;
    width: 28%;
    margin: 5px 20px;
    text-align: left;
}

.child-menu-list a {
    font-size: 12px;
    /*display: inline-block;*/
    color: #5f6166;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    transition: all 0.2s;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.child-menu-list a:hover {
    color: #ff821c;
}

.child-menu-images {
    margin: 25px 80px 25px 45px;
}

/***************************/
.content {
    background: url("../img/bg.jpg");
}

/***************************/
.custom-list-bg {
    background: url("../img/list.png");
}

.custom-list {
    width: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

div.item {
    padding: 35px;
    flex-basis: 33%;
}

div.item:nth-child(1) {
    background: #16bad0;
}

div.item:nth-child(2) {
    background: #fd9029;
}

div.item:nth-child(3) {
    background: #fecd0d;
}

.item-caption {
    font-size: 45px;
    line-height: 0.85;
    margin-bottom: 15px;
}

.item-content {
    font-size: 20px;
}

/**************************/
.row {
    display: flex;
    justify-content: space-between;
}

.row-product {
    margin: 30px 0 20px 0;
    position: relative;
    width: 31.5%;
}

.row-caption {
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 10px 10px 0;
    background: #16bdd4;
    position: absolute;
    top: 20px;
}
.row-image{
    width: 100%;
    height: 100%;
}
.row-image img {
    width: 100%;
    height: 100%;
}

/*********************************/

.workshops-item {
    position: relative;
}

.image-header {
    width: 100%;
    height: 450px;
    position: relative;
}

/*.image-header:after {*/
    /*width: 100%;*/
    /*height: 450px;*/
    /*content: '';*/
    /*position: absolute;*/
    /*!*background: rgba(0,0,0,.4);*!*/
    /*background: rgba(36, 60, 80, .4);*/
/*text-shadow: 0 1px 5px rgba(0,0,0, .7);*/


/*}*/

.workshops-item .img-descrip {
    position: absolute;
    top: 120px;
    font-size: 25px;
    color: #fff;
    line-height: 1.5;
    text-transform: capitalize;
    /*background: rgba(0, 0, 0, 0.5);*/
    background: rgba(36, 60, 80, .6);
    text-align: center;
    width: 100%;

}

.home-post {
    display: flex;
    padding-bottom: 25px;

}

.post-caption {
    font-size: 30px;
    color: #ff821c;
    padding: 10px 0;
    text-transform: uppercase;
}

.post-list {
    width: 80%;
    margin: 20px 0;
}

.post-list:first-child {
    margin-right: 33px;
}

.post-content {
    color: #7a7c82;
    text-align: justify;
    line-height: 21px;
    font-size: 13px;
}

.post-content p {
    margin: 15px 0;
}

.post-cat {
    width: 100%;
    display: table;
}

.list-one, .list-two {
    display: table-cell;
    width: 48%;
}

ul.list-cat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-one ul {
    margin-right: 30px;
}

.list-cat li {
    padding: 5px 0;
    border-bottom: 1px solid #f0f0ef;
}

.list-cat li:last-child {
    border: none;
}

.list-cat a {
    text-decoration: none;
    color: #14a9bd;
    font-size: 15px;
    line-height: 2;
}

.list-cat a:hover {
    color: #fd9029;
}

/*********footer*/
.footer {
    /*height: 500px;*/
    background: #14a9bd;
    font-size: 11px;
    line-height: 1.5;
    padding: 20px 0;
}
.social-icons{
    float: left;
    margin-top: 10px;
}
.mg-wpsi li a:hover{
    opacity: 0.5;
}
.mg-wpsi .mgicon-google-plus-square{
    font-size: 35px !important;
}
.mg-wpsi li:nth-child(4){
    margin-top: -3px !important;
}

.main-category {
    text-align: center;
    padding: 15px 10px 0 10px;
}

.column {
    color: #fff;
    height: 300px;
    width: 24%;
    /*background: #ccc;*/
    display: inline-block;
    border-right: 1px solid rgb(61, 131, 208);
}

.column:last-child {
    border: none;
}

.copyright {
    color: #fff;
    float: right;
    /*margin: 20px 0;*/
    text-align: right;
}
.links a {
    display: block;
    color: #fff;
}
.links a:hover {
    font-size: 12px;
    font-weight: bold;
}

/***************************************/
.content-post {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.product {
    flex-basis: 45%;
    margin: 0 20px;
}

.product-item {
    overflow: hidden;
    position: relative;

}

.product-caption a {
    text-align: center;
    display: block;
    color: #ff821c;
    text-decoration: none;
    padding: 20px 0;
    font-size: 27px;
    text-transform: uppercase;
    transition: all 0.5s ease;

}

.product-caption a:hover {
    color: #14a9bd;
}

.product-image {
    width: 100%;
    /*overflow: hidden;*/
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

div.image {
    width: 100%;
    /*height: 350px;*/
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    backface-visibility: hidden;

}
.image img{
    width: 100%;
}
.image a{
    width: 100%;
    display: block;
}

.product-link {
    text-align: center;
    background: #fff;
    color: #7a7c82;
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.33, 0, .2, 1) 50ms;
    transition: transform .3s cubic-bezier(.33, 0, .2, 1) 50ms;
    width: 100%;
    /*padding: 25px 10px;*/
    box-sizing: border-box;
    z-index: 10;

}

.product-link a {
    display: block;
    color: #ff821c;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px;
    letter-spacing: 1px;

}

.product-descrip {
    /*background: #2590f6;*/
    font-size: 13px;
    color: #7a7c82;
    /*margin: 10px 0;*/
    padding: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

.squa {
    position: absolute;
    left: -60px;
    top: 0;
    bottom: 0;
    right: -50px;
    background: rgba(255, 255, 255, 0.55);
    -webkit-transform: rotate(45deg) translateY(100%);
    -moz-transform: rotate(45deg) translateY(100%);
    -ms-transform: rotate(45deg) translateY(100%);
    -o-transform: rotate(45deg) translateY(100%);
    transform: rotate(45deg) translateY(100%);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
}

.product-item:hover .product-image {
    -webkit-transform: translateY(-57px);
    transform: translateY(-57px);
}

.product-item:hover .squa {
    -webkit-transform: rotate(45deg) translateY(-100%);
    -moz-transform: rotate(45deg) translateY(-100%);
    -ms-transform: rotate(45deg) translateY(-100%);
    -o-transform: rotate(45deg) translateY(-100%);
    transform: rotate(45deg) translateY(-100%);
}

.product-item:hover .product-link {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/****************         single-post*/

div.text {
    color: #7a7c82;
    font-size: 13px;
    line-height: 1.8;
}

.text p {
    margin: 10px 0;
}

.single-info {
    border-bottom: 1px solid #cacaca;
    padding: 10px 0;
}

.single-post {
    padding: 40px 0;
    /*border-top: 1px solid #cacaca;*/
}

.single-image img {
    width: 100%;
}
.first-box {
    float: left;
    margin-right: 2%;
    width: 54.5%;
}
.second-box {
    float: right;
    width: 42.5%;
}

.single-caption {
    color: #14a9bd;
    padding: 20px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    text-transform: capitalize;
}
.name input{
    margin-top: 40px;
}
.contact7{
    margin-top: 15px
}

.contact7 input,
.contact7 textarea {
    border: none;
    background: #dbdae0;
    padding: 10px;
    width: 100%;
    /*margin: 10px;*/
    margin-bottom: 12px;
    outline: none;
    color: #7a7c82;
    box-sizing: border-box;
}
::-webkit-input-placeholder { color: #7a7c82;}
::-moz-placeholder { color: #7a7c82;}
:-ms-input-placeholder { color: #7a7c82; }
:-moz-placeholder { color: #7a7c82; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.contact7 textarea {
    font-family: Verdana, sans-serif;
    resize: vertical;
}

.contact7 input[type="submit"] {
    border: none;
    border-radius: 0;
    background: #fd9029;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
}
.form-errors{
    display: none;
    font-family: inherit;
    border: none !important;
    color: red;
    padding: 5px 0 !important;
    line-height: 23px;
    font-size: 14px;
    margin: 0 !important;
    text-transform: uppercase;
    /*font-weight: bold;*/
    text-align: center;
}
.wpcf7-mail-sent-ok{
    color: #3b579d;
}

input.wpcf7-not-valid,
textarea.wpcf7-not-valid{
    border: 1px ridge red;
}
span.wpcf7-not-valid-tip{
    /* display: none !important; */
    /*color: #37549b !important;*/
    /*background: #14a9bd;*/
    /*position: absolute;*/
    /* left: 100px; */
    /*right: 0px;*/
    /*top: -14px;*/
    /*z-index: 14;*/
    /* width: 255px; */
    /*padding: 10px;*/
    /*width: 60%;*/
    /* border-radius: 5px; */
    /*box-shadow: 2px 4px 10px saddlebrown;*/
    font-size: 12px !important;
    line-height: 25px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: right;
}

span.your-message > span{
    /*top: -180px;*/
}
/***/
.popup-box {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    padding: 10% 0;
    overflow-y: scroll;
}

.popup-form {
    background: url("../img/bg.jpg");
    margin: auto;
    padding: 10px 40px 10px 32px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 350px;
}

@-webkit-keyframes animatetop {
    from {
        top: -200px;
    }
    to {
        top: 0;
    }
}
@keyframes animatetop {
    from {
        top: -200px;
    }
    to {
        top: 0;
    }
}
.close {
    color: #fd9029;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 1s ease;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
}

.close:after {
    content: '\f00d';
    font: normal 24px FontAwesome;
}
.close:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #14a9bd;
}
.hidden-body {
    overflow: hidden;
}
.enquiry-form {
    /*border-top: 1px solid #cacaca;*/
    /*border-bottom: 1px solid #cacaca;*/
    padding: 10px 0 30px 0;
    width: 100%;
    clear: both;
}
.enquiry-button {
    background: #fd9029;
    padding: 10px 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    /*width: 50px;*/
    float: right;
}
.enquiry-button:hover {
    background: #14a9bd;
}

/**************************/
.responsive-menu {
    display: none;
}

#nav-toggle {
    display: none;
    width: 28px;
    height: 30px;
    margin: 11px auto;
    position: absolute;
    right: 76px;
    top: 85px;
    cursor: pointer;
}

#nav-toggle div {
    width: 100%;
    height: 5px;
    background: #14a9bd;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}

#nav-toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
}

#nav-toggle.on .two {
    opacity: 0;
}

#nav-toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
}
/*****************************       terms*/
.term-post-firs{
    width: 49%;
    margin-right: 2%;
    float: left;
}
.term-post-second{
    width: 49%;
    float: right;
}
.terms-posts{
    padding: 40px 0;
}
/************** contacts*/
.contacts-map iframe{
    width: 100%;
    pointer-events: none;
}
.contacts{
    padding: 40px 0;
}
.contacts-info{
    width: 50%;
    float: left;
    margin-right: 3%;
    margin-top: 25px;
}
.post-info p{
    margin: 0;
}
.post-info a{
    text-decoration: none;
    color: #14a9bd;
    transition: all 0.3s ease;
}

.post-info a:hover {
    color: #fd9029;
}

.contacts-contact7{
    width: 47%;
    float: right;
}

/****************** responsive 'home'*/

@media screen and (max-width: 1270px) {

    .nav-header a {
        font-size: 14px;
    }
    .wrapper {
        max-width: 1100px;
    }

    div.item {
        padding: 23px 35px;
    }

    .child-menu-list li {
        width: 27%;
    }

}
@media screen and (max-width: 1170px) {

    .nav-header a {
        padding: 15px 10px;
    }
    .nav-header li {
		vertical-align: middle;
	}

    .wrapper {
        max-width: 1000px;
    }

    .child-menu-list li {
        width: 24%;
    }

    .child-menu-images {
        margin-right: 50px;
    }
    .child-menu-item{
        height: 290px;
    }
}
@media screen and (max-width: 1090px) {

    .wrapper {
        /*max-width: 960px;*/
        max-width: 92%;

    }

    /*************************/
    .workshops-item .img-descrip {
        font-size: 23px;
    }

    .row-caption {
        font-size: 35px;
    }
    div.item{
        padding: 2% 3%;
    }
    .item-caption{
        font-size: 40px;
    }
    .item-content{
        font-size: 18px;
    }
    .child-menu-images{
        margin-right: 40px;
    }
    .child-menu-list li{
        margin: 4px 10px;
        width: 23%;
    }
    .child-menu-list a{
        padding: 5px;
    }
}

@media screen and (max-width: 970px) {

    .row-caption {
        font-size: 30px;
    }


    .nav-header a {
        font-size: 13px;
    }
    .child-menu-list{
        margin: 5px 0 10px 0;
    }
}
@media screen and (max-width: 890px) {
    .product{
        flex-basis: auto;
    }
    .first-box{
        float: none;
        width: auto;
    }
    .second-box{
        float: none;
        width: auto;
    }
}

@media screen and (max-width: 880px) {

    .responsive-menu {
        display: block;
    }

    .resp-menu {
        display: none;
    }

    #nav-toggle {
        display: block;
    }

    /************ menu ***/
    #menu-header {
        display: none;
    }

    .child-menu {
        display: none;
    }

    .resp-menu {
        background: #fff;
    }

    .resp-menu li {
        /*background: url("../img/nav-top.jpg");*/
        border-bottom: 1px solid #14a9bd;
        position: relative;
    }

    .resp-menu li a {
        display: block;
        color: #999;
        /*color: #fff;*/
        padding: 10px 40px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;

    }

    .sub-menu {
        background: #14a9bd;
    }

    .sub-menu li a {
        color: #fff;
        padding: 11px 35px;
        font-size: 11px;
        margin-left: 10px;
    }

    .resp-menu li a:hover {
        /*background: #25afc2;*/
        /*color: #fff;*/
    }

    .sub-menu li:hover {
        background: #25afc2;
    }

    /****************иконка*/
    .double-down {
        /*position: relative;*/
        /*left: 315px;*/
    }

    .double-down:before {
        content: "\f0dd";
        font: normal normal normal 25px/1 FontAwesome;
        text-decoration: inherit;
        color: #fd9029;
        padding-right: 0.5em;
        position: absolute;
        left: 94%;
        top: 12px;
        transform: rotate(90deg);
        transition: all 0.2s ease;
    }

    .sub-menu {
        display: none;
    }

    .open {
        background: #14a9bd;
    }

    .open a {
        color: #fff !important;
    }

    .open .double-down:before {
        transform: none;
        top: 10px;

    }
    .current_page_item{
        background: inherit;
    }
    #nav-toggle {
        right: 29px;
        top: 89px;
    }
    .contacts-information{
        margin-right: 50px;
    }
    .term-post-firs,
    .term-post-second{
        float: none;
        width: 100%;
    }

}

@media screen and (max-width: 805px) {
    .workshops-item .img-descrip {
        font-size: 19px;
    }
    .row-caption{
        /*font-size: 24px;*/
    }

    .custom-list-bg {
        background: inherit;
    }

    .custom-list {
        display: block;
    }

    div.item {
        padding: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .item-caption {
        font-size: 40px;
    }

    .item-content {
        font-size: 18px;
    }

    .row {
        display: block;
        text-align: -webkit-center;
    }

    .row-product {
        width: 70%;
    }

    .row-caption {
        font-size: 45px;
    }

    .home-post {
        display: block;
    }

    .post-list {
        width: auto;
    }

    .post-list:first-child {
        margin-right: 0;
    }

    .list-one,
    .list-two {
        display: block;
        width: 100%;
    }
    .contacts-info{
        float: none;
        width: 100%;
    }
    .contacts-contact7{
        float: none;
        width: 380px;
    }
}

@media screen and (max-width: 690px) {

    .workshops-item .img-descrip {
        font-size: 17px;
    }
    .popup-box{
        padding-top: 20%;
    }

}

@media screen and (max-width: 620px) {

    .contacts-information{
        margin: 0;
        line-height: 1.5;
        font-size: 12px;
    }
}

@media screen and (max-width: 570px) {

    .contacts-information{
        margin-top: -10px;
        padding-bottom: 10px;
        float: right;
    }
    #nav-toggle{
        right: 86%;
        top: 132px;
    }
    .logo-header{
        margin-right: 50px;
    }
}

@media screen and (max-width: 540px) {
    .row-caption{
        font-size: 34px;
    }
    .popup-form{
        width: 260px;
        padding: 5px 35px 5px 27px;
    }
    .close{
        line-height: 0;
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 505px) {
    .social-icons{
        margin-right: 20px;
    }
    .copyright{
        float: left;
        text-align: left;
        margin-top: 10px;
    }
}

@media screen and (max-width: 440px) {
    .workshops-item .img-descrip {
        font-size: 14px;
    }
    .row-caption{
        font-size: 28px;
    }
    .double-down:before {
        left: 92%;
    }
    .resp-menu li a{
        padding: 8px 30px;
    }
    .contacts-contact7{
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .row-caption{
        font-size: 23px;
    }
    .popup-form{
        width: 210px;
        padding: 5px 30px 0 22px;
    }

}
