/*
Theme Name: Project
Author: Tani
Version: 1.0
*/

input.hidden,
span.hidden {
    display: none;
}

.z-in-120 {
    z-index: 120!important;
}

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.t-c {
    display: table-cell;
    vertical-align: middle;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


ul {
    padding: 0;
    margin: 0;
}

.child-menu-item:hover {
    display: block !important;
}

.child-menu-image,
.child-menu-item {
    display: none;
}

.child-menu-images {
    width: 280px;
    float: left;
}

.child-menu-image {
    width: 100%;
}

.child-menu-image__item--0 {
    /*width: 300px;*/
    display: block;
}